/.env
/.env_test
/.env-dev
/.env-prod
/docker
/mongo-keyfile
/certbot/
/nginx/nginx-local.conf
/test
/pkg/tgValidation/validation_test.go

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?